.row{
    margin-left: 10px;
    color: white;
}

.posters{
    display: flex;
    padding: 15px;
    overflow: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    cursor: pointer;
    
    max-height: 200px;
    margin-right: 12px;
}
.poster:hover{
    transform: scale(1.1);
}
.smallPoster{
    cursor: pointer;
    max-height: 150px;
    margin-right: 9px;

}
.smallPoster:hover{
    transform: scale(1.1);
}